<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papertray</title>
    <link rel="stylesheet" href="/history.css">
</head>
<body>
    <header>
        <h2 class="logo">LOGO</h2>
        <nav class="navigation">
          <a href="#" class="dropdown-btn">Feature</a>
          <div class="dropdown-content">
            <a href="https://tinywow.com/pdf/to-word">PDF To DOC</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
          <a href="#">Services</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
    </header>
    <div class="content">
         <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search...">
            <button id="search-button">Search</button>
        </div>
        <table class="order-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Pickup Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr class="order-row">
                    <td>{{orderId}}</td>
                    <td>{{order_date}}</td>
                    <td>{{pickup_date}}</td>
                   <td class="status-column" data-pickup-date="{{pickup_date}}" data-status ="{{status}}"></td>
                </tr>
                <tr class="details-row">
                    <td colspan="4">
                        <div class="order-details">
                            <p>Phone: {{phone}}</p>
                            <p>Paper Size: {{paper_size}}</p>
                            <p>Color: {{color}}</p>
                            <p>Finisher: {{finisher}}</p>
                            <p>Quantity: {{quantity}}</p>
                            <p>Total Pages: {{totalpage}}</p>
                            <p>Pickup Location: {{pickup_location}}</p>
                            <p>Finisher Cost: {{finisher_cost}}</p>
                            <p>File: {{file}}</p>
                            <p>Total Cost : {{totalcost}}tk</p>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="./history.js"></script>
</body>
</html>
