<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
    <link rel="stylesheet" href="/payment.css">
</head>
<body>
    <h1>Order Summary</h1>
    
    <div class="order-details">
        <p><strong>User ID:</strong> {{userid}}</p>
        <p><strong>Order ID:</strong> {{orderid}}</p>
        <p><strong>Total Pages:</strong> {{totalpage}}</p>
        <p><strong>Paper Size:</strong> {{paper_size}}</p>
        <p><strong>Color Type:</strong> {{color}}</p>
        <p><strong>Finisher Style:</strong> {{finisher}}</p>
         <p><strong>finishercost:</strong> {{finishercost}}</p>
        <p><strong>Total Cost:</strong> {{totalcost}}</p>
    
    </div>
   
      <button type="submit">Confirm Payment</button>
   
   
    
    <!-- Add your JavaScript code here to handle payment confirmation -->
    <script>
        document.getElementById("confirm-payment-btn").addEventListener("click", function() {
            // Your code to handle payment confirmation goes here
            // You can redirect to a payment gateway or perform any other action
            // based on the user's confirmation.
        });
    </script>
</body>
</html>
